<!--
<p>about works!</p>
<button class="btn btn-primary" (click)="goToHome()">home</button>
-->
<!--
<br><br>
-->

<!--
<app-create-button></app-create-button>

<div class="py-3"></div>

<app-form-test *ngIf="fService.getIsVisible() == 1"></app-form-test>

<app-sdlc-output></app-sdlc-output>
-->

<!--<div *ngFor="let course of courses">-->
    <!--<a [routerLink]="['/courseDetails',course.id,course.name]" style="text-decoration-skip: none; ">{{course.name}}</a><br><br>-->
    <!--<a routerLink="/courseDetails/{{course.id}}" style="text-decoration-skip: none; ">{{course.name}}</a><br><br>
</div>-->