nav
{
    background-color: red;
}
ul
{
    list-style-type: none;
}
ul li
{
    display: inline-block;
    padding-left: 20px;
    color: white;
    font-size: 20px;
}
ul li a
{
    color: white;
    text-decoration: none;
}